@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border leading-[1.2];
    /* @apply box-border leading-[1.2] !cursor-none; */
  }

  html {
    @apply xl:text-[0.9vw] h-full;
  }

  #__next {
    @apply flex flex-col min-h-screen;
  }

  img {
    @apply object-cover max-w-full;
  }

  /* to remove the extra space at the bottom of the Next.js Image Componant */
  span {
    @apply align-middle;
  }
}

@layer utilities {
  .ddl-container {
    @apply px-5 md:px-[5.625rem];
  }
  .main-title {
    @apply text-[1.75rem] md:text-[2.6rem] xl:text-[5.625rem] font-medium leading-[1.2];
  }
  .secondary-title {
    @apply text-[1.75rem] md:text-[2rem] lg:text-[2.8125rem] font-medium leading-[1.2];
  }
  .text-link-size {
    @apply text-xl;
  }
  .text-body {
    @apply text-xl md:text-[1.75rem];
  }
  .text-big-visual {
    @apply block text-[2.8125rem] md:text-[11.25rem] font-medium leading-[1.2];
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/satoshi/Satoshi-Black.woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/satoshi/Satoshi-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/satoshi/Satoshi-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/satoshi/Satoshi-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/satoshi/Satoshi-Light.woff');
  font-weight: 300;
  font-style: normal;
}
